<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon_doce.png" type="image/x-icon">
    <title>Melhor loja de doces</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <header class="sitevendas-barra">
        <p>
            <a href=""><label for="">My Doce <img src="/frontend/layout/assets/icon_doce.png" alt=""></label></a>
            <a href=""><label for="">Cholates <img src="assets/chocolates.png" alt=""></label></a>
            <a href=""><label for="">Donuts <img src="assets/donuts.png" alt=""></label></a>
            <a href=""><label for="">Bebidas <img src="assets/bebidas.png" alt=""></label></a>
            <a href=""><label for="">Combos <img src="assets/combos.png" alt=""></label></a>
            <a href=""><label for="">Promocoes <img src="assets/promocoes.png" alt=""></label></a>
        </p>
        <p class="sitevendas-barra-search">Pesquise aqui <input type="search" name="search" id=""></p> 
    </header>
    <section>
    
    </section>
    

</body>
</html>