<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
    
    <header>
        <div class="sitevendas-barra">
            <div class="sitevendas-barra-top-letra">
                <tr class="sitevendas-top-letra-my-doce">
                    <td> My Doce</td>
                    <img src="icon_doce.svg" alt="doce"></img>
                </tr>
                <tr class="sitevendas-barra-top-letra-cholate">
                    <td> Chocolate </td>
                </tr>
                <tr class="sitevendas-barra--top-letra-balas">
                    <td> Balas </td>
                </tr>
                <tr class="sitevendas-barra-top-letra-donuts">
                    <td> Donuts </td>
                </tr>
                <tr class="sitevendas-barra-top-letra-bebidas">
                    <td> Bebidas </td>
                </tr>
                <tr class="sitevendas-barra-top-letra-combos">
                    <td> Combos </td>
                </tr>
                <tr class="sitevendas-barra-top-letra-promocoes">
                    <td> Promoções </td>
                </tr>
                <tr class="sitevendas-barra-top-letra-meu-Carrinho">
                    <td> Meu Carrinho</td>
                </tr>
            </div>
            <div class="sitevendas-barra-top-icon">
                
                <tr class="sitevendas-barra-top-icon-cholate">
                    <img src="icon-chocolate.svg" ></img>
                </tr>

                <tr class="sitevendas-barra-top-icon-balas">
                    <img src="balas-icon.svg"></img>
                </tr>

                <tr class="sitevendas-barra-top-icon-donuts">
                    <img src="icon-donut.svg"></img>
                </tr>

                <tr class="sitevendas-barra-top-letra-bebidas">
                    <img src="icon-bebidas.svg"> </img>
                </tr>
                
                <tr class="sitevendas-barra-top-icon-combos">
                    <img src="icon-combos.svg"> </img>
                </tr>

                <tr class="sitevendas-barra-top-icon-promocoes">
                    <img src="icon-promocoes.svg"> </img>
                </tr>
            
            </div>
            
        </div>
        <div clas="sitevendas-barra-de-pesquisa">

        </div>
    </header>
</body>
</html>