<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon_doce.png" type="image/x-icon">
    <title>Melhor loja de doces</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <header class="sitevendas-barra">
            <a href=""><label for="">My Doce <img src="/frontend/layout/assets/icon_doce.png" alt=""></label></a>
            <a href=""><label for="">Cholates <img src="assets/chocolates.png" alt=""></label></a>
            <a href=""><label for="">Donuts <img src="assets/donuts.png" alt=""></label></a>
            <a href=""><label for="">Bebidas <img src="assets/bebidas.png" alt=""></label></a>
            <a href=""><label for="">Combos <img src="assets/combos.png" alt=""></label></a>
            <a href=""><label for="">Promocoes <img src="assets/promocoes.png" alt=""></label></a>
            <a href=""><label for="">Meu Carrinho</label><img src="assets/imgs/carrinho.png" alt=""></a>
            <a href=""><label for="">Minha Conta</label><img src="assets/imgs/17004 1.png" alt=""></a>
        <p class="sitevendas-barra-search">Pesquise aqui </a><input type="search" name="search" id="" placeholder="&#x1F50E;"></p> 
    </header>
    <section>
        <div class="conteiner-produtos-panel">
            <div class="conteiner-produtos-bloco-1">
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 15R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
                <div class="test">
                    <div class="conteiner-produtos-imagens">
                        <img src="assets/imgs/teste.png" alt="">
                    </div>
                    <div class="conteiner-produtos-preco">
                        <p>Adicionar por 10R$ <img src="assets/imgs/carrinho.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>Contatos:</p>
    </footer>

</body>
</html>