html, body {
    background-color: #D0BAFF;
}

.sitevendas-barra {
    padding: 10px;
    text-align: center;
    
}

.sitevendas-barra a {
    padding: 10px;
}



section {
    background: #000000;
}
