@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    background-color: #D0BAFF;
    font-family: 'Lato', sans-serif;
}

.sitevendas-barra {
    padding: 10px;
    text-align: center;
    
}

.sitevendas-barra a {
    padding: 8px;
    background-color: #f9d8ff;
    border-radius: 10px;
    min-height: 40px;
    border-color: black;
    margin: 5px;
}

.sitevendas-barra {
    padding: 5px;
    
}

.sitevendas-barra-search input {
    min-width: 700px;
    min-height: 25px;
    border-radius: 5px;
}

.sitevendas-barra-search{
    font-size: 17pt;
    
}

section {
    background: #ffffff;
    min-height: 550px;
    max-height: 550px;
    border-radius: 5px;
    border-color: rgb(119, 0, 255);
    border-style: double ;
}

.conteiner-produtos-panel {
    margin: 50px;
    text-align: center;
}

.conteiner-produtos-preco {
    background-color: rgb(255, 194, 194);
    max-width: 186px;
    min-width: 186px;
    border-radius: 10px;
}


.test {
    display: inline-table;
    margin: 10px;
}

