@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --cor-fundo: #FDF4F5;
    --cor-fundo-segundaria: #E8A0BF;
    --cor-primaria: #39B5E0;
    --cor-segundaria: #C0DBEA;
    --cor-botao: #BA90C6;
}

body {
    font-family: 'Judson', serif;
    font-size: 16px;
    background-color: var(--cor-fundo);
}

