@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --azul-escuro: #3A4F7A;
    --rosa-claro: #FFC6D3;
    --rosa: #FEA1BF;
    --rosa-medio: #E98EAD;
}

body {
    font-family: 'Judson', serif;
    font-size: 16px;
}