@import url('reset.css');
@import url('global.css');

.hover_input:hover {
    transform: scale(1.1);
    margin: 0 5px;
}

.hover_button:active {
    transform: scale(1.3);
    transition: 0.5s;
}

.hover_button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}